* {
	margin: 0;
	padding: 0;
}

body {
	background: #F5F5F5;
	font-family: sans-serif;
	height: 100%;
	width: 100%;
}

h2 {
  text-align: center;
  margin: 20px;
  font-family: 'Open Sans', sans-serif;
}

.paint {
  padding-top: 2px;
}

/* CANVAS STYLING
===================*/

canvas {
	display: block;
	margin: 40px auto 10px;
	border-radius: 5px;
	border-left: 1px solid #E0E0E0;
	border-right: 1px solid #E0E0E0;
	border-top: 1px solid #E0E0E0;
	box-shadow: 0 4px 0 0 #E0E0E0;
	cursor: url(../img/cursor.png), crosshair;
}

.controls {
	min-height: 60px;
	margin: 0 auto;
	width: 600px;
	border-radius: 5px;
	overflow: hidden;
}
ul {
	list-style:none;
	margin: 0;
	float: 	left;
	padding: 10px 0 20px;
	width: 100%;
	text-align: center;
}

/* BUTTON STYLES
==============*/

button {
	background: #68B25B;
	box-shadow: 0 3px 0 0 #6A845F;
	color: #fff;
	outline: none;
	cursor: pointer;
	text-shadow: 0 1px #6A845F;
	display: block;
	font-size: 16px;
	line-height: 40px;
}
label {
	background: #c7ebc1;
	box-shadow: 0 3px 0 0 #6A845F;
	color: rgb(0, 0, 0);
	outline: none;
	cursor: pointer;
	text-shadow: 0 1px #6A845F;
	display: block;
	font-size: 16px;
	line-height: 40px;
}
#clear {
	border: none;
	border-radius: 5px;
	margin: 10px auto;
	padding: 0 20px;
	width: 160px;
	height: 40px;
}
#recognize {
	border: none;
	border-radius: 5px;
	margin: 10px auto;
	padding: 0 20px;
	width: 160px;
	height: 40px;
}
#label1 {
	border: none;
	border-radius: 5px;
	margin: 10px auto;
	padding: 0 20px;
	width: 260px;
	height: 40px;
}